<div class="summary">
  {{markdown summary}}
</div>

<div class="operation">

  <div class="method color-{{request.method}}">
    {{httpVerb request.method}}
  </div>

  <div class="request">
    <div class="url">
      {{request.method}}
      {{#if request.route}}
        {{code-tokens request.route}}
      {{else}}
        {{code request.path}}
      {{/if}}
    </div>
    Sample request
    <div class="expanders">
      {{#if request.route}}
        <a href="#sample{{id}}-url">url</a><span>
      {{/if}}
      {{#hasKeys request.headers}}
        <a href="#sample{{id}}-request-headers">headers</a><span>
      {{/hasKeys}}
      {{#if request.data}}
        <a href="#sample{{id}}-request-payload">payload</a>
      {{/if}}
      {{#if request.files}}
        <a href="#sample{{id}}-request-attachments">attachments</a>
      {{/if}}
      <a href="#sample{{id}}-request-curl">curl</a><span>
    </div>
  </div>

  <div id="sample{{id}}-url" class="collapsible">
    {{code request.path}}
  </div>
  <div id="sample{{id}}-request-headers" class="collapsible">
    {{code-headers request.headers}}
  </div>
  <div id="sample{{id}}-request-payload" class="collapsible">
    {{payload request.data}}
  </div>
  <div id="sample{{id}}-request-attachments" class="collapsible">
    {{#each request.files}}
      <pre><code class="wrap">
        <div class="attachment">{{name}}</div>
        {{attachment name content}}
      </code></pre>
    {{/each}}
  </div>
  <div id="sample{{id}}-request-curl" class="collapsible">
    {{code-auto snippets.curl}}
  </div>

  <div class="response">
    Response {{httpStatus response.status}}
    <div class="expanders">
      {{#hasKeys response.headers}}
        <a href="#sample{{id}}-response-headers">headers</a>
      {{/hasKeys}}
      {{#if response.body}}
        <a href="#sample{{id}}-response-body">body</a>
      {{/if}}
    </div>
  </div>

  <div id="sample{{id}}-response-headers" class="collapsible">
    {{code-headers response.headers}}
  </div>
  <div id="sample{{id}}-response-body" class="collapsible">
    {{code-json response.body}}
  </div>

</div>
