<div class="sidebar-top">
  <div class="logo"></div>
  {{title}}
</div>

<div class="sidebar">
  
  <form>
    <input tabindex="1" id="autocomplete" type="search"
          placeholder="search" autocomplete="off" />
  </form>

  <nav>
    <ul class="side-nav">

      {{#each navigation}}

          <li class="divider"></li>

          <li class="heading">
            <a href="{{link}}">{{name}}</a>
          </li>

          {{#each subnav}}
            <li>
              <a href="{{link}}" data-search="{{name}}">
                {{name}}
                {{#if count}}
                  <span class="label">{{count}}</span>
                {{/if}}
              </a>
            </li>
          {{/each}}

      {{/each}}

    </ul>
  </nav>

</div>
