<div class="summary">
  {{markdown summary}}
</div>

<div class="operation">

  <div class="method color-{{request.method}}">
    {{httpVerb request.method}}
  </div>

  <div class="request">
    <div class="url">
      {{request.method}}
      {{or route.tokenisedRoute request.path}}
    </div>
    Request
    <div class="expanders">
      {{#if route.tokenisedRoute}}
        <a href="#sample{{id}}-url">url</a><span>
      {{/if}}
      {{#hasKeys request.headers}}
        <a href="#sample{{id}}-request-headers">headers</a><span>
      {{/hasKeys}}
      {{#hasKeys request.data}}
        <a href="#sample{{id}}-request-payload">payload</a>
      {{/hasKeys}}
      <a href="#sample{{id}}-request-curl">curl</a><span>
    </div>
  </div>

  <div id="sample{{id}}-url" class="collapsible">
    {{code request.path}}
  </div>
  <div id="sample{{id}}-request-headers" class="collapsible">
    {{headers request.headers}}
  </div>
  <div id="sample{{id}}-request-payload" class="collapsible">
    {{json request.data}}
  </div>
  <div id="sample{{id}}-request-curl" class="collapsible">
    {{code snippets.curl}}
  </div>

  <div class="response">
    Response {{httpStatus response.status}}
    <div class="expanders">
      {{#hasKeys response.headers}}
        <a href="#sample{{id}}-response-headers">headers</a>
      {{/hasKeys}}
      {{#hasKeys response.body}}
        <a href="#sample{{id}}-response-body">body</a>
      {{/hasKeys}}
    </div>
  </div>

  <div id="sample{{id}}-response-headers" class="collapsible">
    {{headers response.headers}}
  </div>
  <div id="sample{{id}}-response-body" class="collapsible">
    {{json response.body}}
  </div>

</div>
