<div class="summary">
  {{markdown summary}}
</div>

<div class="action color-{{request.method}}">
  <div class="method">{{request.method}}</div>
  <span class="uri">{{request.path}}</span>
</div>

<div class="action request">
  Request
  <div class="expanders">
    [
    <a href="#sample{{id}}-request-headers">headers</a><span>
    {{#if request.data}}
      / <a href="#sample{{id}}-request-payload">payload</a>
    {{/if}}
    ]
  </div>
</div>

<div id="sample{{id}}-request-headers" class="collapsible">
  {{headers request.headers}}
</div>
<div id="sample{{id}}-request-payload" class="collapsible">
  {{json request.data}}
</div>

<div class="action response">
  Response
  <span>{{httpStatus response.status}}</span>
  <div class="expanders">
    [
    <a href="#sample{{id}}-response-headers">headers</a>
    {{#if response.body}}
      / <a href="#sample{{id}}-response-body">body</a>
    {{/if}}
    ]
  </div>
</div>

<div id="sample{{id}}-response-headers" class="collapsible">
  {{headers response.headers}}
</div>
<div id="sample{{id}}-response-body" class="collapsible">
  {{json response.body}}
</div>
